In [1]:
#Todays's
# 1. Filter ( where clause in SQL )
# 2. Sorting ( order by in SQL )
# 3. Grouping ( group by in SQL )

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("emp_details.csv")

In [16]:
# Q1, Get me the employees details who are having salary more than 50K and they belongs to deptno = 10
# SQL : select * from emp where dept_no=10 and salary>50000
# way 1:
dept_no_10 = df['deptno'] == 10
sal_50000 = df['salary'] > 50000
final_filter = dept_no_10 & sal_50000
df[final_filter]

In [20]:
# Way 2:
df[(df['deptno'] == 10) & (df['salary'] > 50000)]

     eno           ename         doj  deptno  salary
12  1013  Shivani Sharma  2022-09-13      10   74363
20  1021  Prakash Pillai  2022-12-11      10   73569
26  1027   Harshit Kumar  2022-08-16      10   66535
32  1033     Suresh Jain  2021-12-01      10   69234
38  1039      Ajit Reddy  2022-04-18      10   69399
44  1045    Pankaj Joshi  2022-06-10      10   70445

In [23]:
# Q2. Get me all the employees who belongs to either deptno 10 or deptno 20
# way 1:
dept_no_10 = df['deptno'] == 10
dept_no_20 = df['deptno'] == 20
final_filter = dept_no_10 | dept_no_20
df[final_filter]

     eno               ename         doj  deptno  salary
0   1001        Arjun Sharma  2022-01-15      10    1000
1   1002         Priya Patel  2023-03-22      20   67387
6   1007         Vijay Singh  2022-07-08      10    1000
7   1008         Ananya Iyer  2021-03-15      20   74625
12  1013      Shivani Sharma  2022-09-13      10   74363
13  1014         Harish Nair  2023-04-01      20   61487
18  1019          Meera Nair  2020-09-17      10    1000
19  1020         Krishna Rao  2023-10-02      20    2000
20  1021      Prakash Pillai  2022-12-11      10   73569
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
26  1027       Harshit Kumar  2022-08-16      10   66535
27  1028       Kanika Thakur  2020-01-10      20   67752
32  1033         Suresh Jain  2021-12-01      10   69234
33  1034          Sonal Shah  2023-08-13      20    2000
38  1039          Ajit Reddy  2022-04-18      10   69399
39  1040     Pratibha Sharma  2021-09-05      20   65072
44  1045        Pankaj Joshi  2022-06-10      10   70445
45  1046          Suman Iyer  2023-04-28      20   67751

In [28]:
# Q3. Get me all the employees who do not belongs to deptno 10
# SQL : select * from emp where dept_no !=10
# way 1:
dept_no_10 = df['deptno'] == 10
dept_no_not_10 = ~dept_no_10
dept_no_not_10
df[dept_no_not_10]

     eno               ename         doj  deptno  salary
1   1002         Priya Patel  2023-03-22      20   67387
2   1003          Ravi Kumar  2021-05-10      30   70421
3   1004         Sneha Gupta  2020-08-25      40   68902
4   1005          Anil Reddy  2024-02-13      50   78005
5   1006          Neha Verma  2019-11-30      60   59843
7   1008         Ananya Iyer  2021-03-15      20   74625
8   1009        Manish Joshi  2020-12-19      30   67560
9   1010         Simran Kaur  2023-01-11      40   68902
10  1011        Rajesh Mehta  2021-09-01      50   62497
11  1012       Deepika Desai  2020-06-10      60   70179
13  1014         Harish Nair  2023-04-01      20   61487
14  1015         Komal Yadav  2021-11-23      30   61894
15  1016          Ajay Bhatt  2020-04-25      40   70109
16  1017         Pooja Malik  2022-02-28      50   77450
17  1018        Raghav Joshi  2021-06-14      60   62873
19  1020         Krishna Rao  2023-10-02      20    2000
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
22  1023          Vikas Soni  2020-11-15      30   60933
23  1024          Ritu Mehra  2023-05-20      40   67801
24  1025       Nitin Chauhan  2020-03-30      50   66948
25  1026        Swati Kapoor  2021-10-05      60   66972
27  1028       Kanika Thakur  2020-01-10      20   67752
28  1029      Arvind Agarwal  2023-02-18      30   70986
29  1030         Divya Singh  2021-04-22      40   67845
30  1031        Akash Prasad  2020-06-05      50   72594
31  1032          Geeta Rani  2022-09-07      60   63916
33  1034          Sonal Shah  2023-08-13      20    2000
34  1035       Jayesh Bansal  2020-02-15      30   69811
35  1036        Shweta Yadav  2021-06-03      40   63559
36  1037      Rajendra Joshi  2023-11-19      50   73561
37  1038        Kavita Mehta  2020-07-25      60   71892
39  1040     Pratibha Sharma  2021-09-05      20   65072
40  1041     Subodh Tripathi  2020-05-14      30   68215
41  1042        Sunita Gupta  2023-03-09      40   72534
42  1043        Arvind Kumar   2021-0-22      50   70019
43  1044      Neeraj Agarwal  2020-02-19      60   69312
45  1046          Suman Iyer  2023-04-28      20   67751
46  1047         Sunil Verma  2020-09-14      30   66989
47  1048       Meenal Pandey  2021-07-03      40   66228
48  1049          Manju Nair  2022-11-17      50   69061
49  1050       Sandeep Yadav  2021-10-12      60   60921

In [35]:
# Sorting ( similar to order by clause in SQL )
# sort by value ( sort_value()), by default in ascending order
# Q1. Sort the data in ascending order of depnto
df.sort_values(by='deptno',ascending=True)

     eno               ename         doj  deptno  salary
0   1001        Arjun Sharma  2022-01-15      10    1000
20  1021      Prakash Pillai  2022-12-11      10   73569
18  1019          Meera Nair  2020-09-17      10    1000
12  1013      Shivani Sharma  2022-09-13      10   74363
44  1045        Pankaj Joshi  2022-06-10      10   70445
38  1039          Ajit Reddy  2022-04-18      10   69399
26  1027       Harshit Kumar  2022-08-16      10   66535
32  1033         Suresh Jain  2021-12-01      10   69234
6   1007         Vijay Singh  2022-07-08      10    1000
7   1008         Ananya Iyer  2021-03-15      20   74625
27  1028       Kanika Thakur  2020-01-10      20   67752
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
1   1002         Priya Patel  2023-03-22      20   67387
19  1020         Krishna Rao  2023-10-02      20    2000
13  1014         Harish Nair  2023-04-01      20   61487
39  1040     Pratibha Sharma  2021-09-05      20   65072
33  1034          Sonal Shah  2023-08-13      20    2000
45  1046          Suman Iyer  2023-04-28      20   67751
34  1035       Jayesh Bansal  2020-02-15      30   69811
2   1003          Ravi Kumar  2021-05-10      30   70421
46  1047         Sunil Verma  2020-09-14      30   66989
22  1023          Vikas Soni  2020-11-15      30   60933
8   1009        Manish Joshi  2020-12-19      30   67560
40  1041     Subodh Tripathi  2020-05-14      30   68215
14  1015         Komal Yadav  2021-11-23      30   61894
28  1029      Arvind Agarwal  2023-02-18      30   70986
29  1030         Divya Singh  2021-04-22      40   67845
41  1042        Sunita Gupta  2023-03-09      40   72534
15  1016          Ajay Bhatt  2020-04-25      40   70109
9   1010         Simran Kaur  2023-01-11      40   68902
47  1048       Meenal Pandey  2021-07-03      40   66228
3   1004         Sneha Gupta  2020-08-25      40   68902
23  1024          Ritu Mehra  2023-05-20      40   67801
35  1036        Shweta Yadav  2021-06-03      40   63559
42  1043        Arvind Kumar   2021-0-22      50   70019
36  1037      Rajendra Joshi  2023-11-19      50   73561
24  1025       Nitin Chauhan  2020-03-30      50   66948
30  1031        Akash Prasad  2020-06-05      50   72594
48  1049          Manju Nair  2022-11-17      50   69061
16  1017         Pooja Malik  2022-02-28      50   77450
10  1011        Rajesh Mehta  2021-09-01      50   62497
4   1005          Anil Reddy  2024-02-13      50   78005
37  1038        Kavita Mehta  2020-07-25      60   71892
25  1026        Swati Kapoor  2021-10-05      60   66972
17  1018        Raghav Joshi  2021-06-14      60   62873
43  1044      Neeraj Agarwal  2020-02-19      60   69312
11  1012       Deepika Desai  2020-06-10      60   70179
5   1006          Neha Verma  2019-11-30      60   59843
31  1032          Geeta Rani  2022-09-07      60   63916
49  1050       Sandeep Yadav  2021-10-12      60   60921

In [36]:
# Q1. Sort the data in descending order of depnto
df.sort_values(by='deptno',ascending=False)

     eno               ename         doj  deptno  salary
25  1026        Swati Kapoor  2021-10-05      60   66972
11  1012       Deepika Desai  2020-06-10      60   70179
43  1044      Neeraj Agarwal  2020-02-19      60   69312
37  1038        Kavita Mehta  2020-07-25      60   71892
31  1032          Geeta Rani  2022-09-07      60   63916
17  1018        Raghav Joshi  2021-06-14      60   62873
49  1050       Sandeep Yadav  2021-10-12      60   60921
5   1006          Neha Verma  2019-11-30      60   59843
42  1043        Arvind Kumar   2021-0-22      50   70019
36  1037      Rajendra Joshi  2023-11-19      50   73561
10  1011        Rajesh Mehta  2021-09-01      50   62497
48  1049          Manju Nair  2022-11-17      50   69061
4   1005          Anil Reddy  2024-02-13      50   78005
30  1031        Akash Prasad  2020-06-05      50   72594
16  1017         Pooja Malik  2022-02-28      50   77450
24  1025       Nitin Chauhan  2020-03-30      50   66948
41  1042        Sunita Gupta  2023-03-09      40   72534
29  1030         Divya Singh  2021-04-22      40   67845
3   1004         Sneha Gupta  2020-08-25      40   68902
23  1024          Ritu Mehra  2023-05-20      40   67801
35  1036        Shweta Yadav  2021-06-03      40   63559
15  1016          Ajay Bhatt  2020-04-25      40   70109
47  1048       Meenal Pandey  2021-07-03      40   66228
9   1010         Simran Kaur  2023-01-11      40   68902
34  1035       Jayesh Bansal  2020-02-15      30   69811
22  1023          Vikas Soni  2020-11-15      30   60933
2   1003          Ravi Kumar  2021-05-10      30   70421
40  1041     Subodh Tripathi  2020-05-14      30   68215
8   1009        Manish Joshi  2020-12-19      30   67560
14  1015         Komal Yadav  2021-11-23      30   61894
46  1047         Sunil Verma  2020-09-14      30   66989
28  1029      Arvind Agarwal  2023-02-18      30   70986
45  1046          Suman Iyer  2023-04-28      20   67751
39  1040     Pratibha Sharma  2021-09-05      20   65072
7   1008         Ananya Iyer  2021-03-15      20   74625
33  1034          Sonal Shah  2023-08-13      20    2000
27  1028       Kanika Thakur  2020-01-10      20   67752
1   1002         Priya Patel  2023-03-22      20   67387
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
19  1020         Krishna Rao  2023-10-02      20    2000
13  1014         Harish Nair  2023-04-01      20   61487
32  1033         Suresh Jain  2021-12-01      10   69234
38  1039          Ajit Reddy  2022-04-18      10   69399
26  1027       Harshit Kumar  2022-08-16      10   66535
20  1021      Prakash Pillai  2022-12-11      10   73569
44  1045        Pankaj Joshi  2022-06-10      10   70445
18  1019          Meera Nair  2020-09-17      10    1000
12  1013      Shivani Sharma  2022-09-13      10   74363
6   1007         Vijay Singh  2022-07-08      10    1000
0   1001        Arjun Sharma  2022-01-15      10    1000

In [38]:
# Sort the data based on multiple columns
# Q1. Sort the data in ascending order of depnto and descending order of salary
df.sort_values(by=['deptno','salary'],ascending=[True,False])

     eno               ename         doj  deptno  salary
12  1013      Shivani Sharma  2022-09-13      10   74363
20  1021      Prakash Pillai  2022-12-11      10   73569
44  1045        Pankaj Joshi  2022-06-10      10   70445
38  1039          Ajit Reddy  2022-04-18      10   69399
32  1033         Suresh Jain  2021-12-01      10   69234
26  1027       Harshit Kumar  2022-08-16      10   66535
0   1001        Arjun Sharma  2022-01-15      10    1000
6   1007         Vijay Singh  2022-07-08      10    1000
18  1019          Meera Nair  2020-09-17      10    1000
7   1008         Ananya Iyer  2021-03-15      20   74625
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
27  1028       Kanika Thakur  2020-01-10      20   67752
45  1046          Suman Iyer  2023-04-28      20   67751
1   1002         Priya Patel  2023-03-22      20   67387
39  1040     Pratibha Sharma  2021-09-05      20   65072
13  1014         Harish Nair  2023-04-01      20   61487
19  1020         Krishna Rao  2023-10-02      20    2000
33  1034          Sonal Shah  2023-08-13      20    2000
28  1029      Arvind Agarwal  2023-02-18      30   70986
2   1003          Ravi Kumar  2021-05-10      30   70421
34  1035       Jayesh Bansal  2020-02-15      30   69811
40  1041     Subodh Tripathi  2020-05-14      30   68215
8   1009        Manish Joshi  2020-12-19      30   67560
46  1047         Sunil Verma  2020-09-14      30   66989
14  1015         Komal Yadav  2021-11-23      30   61894
22  1023          Vikas Soni  2020-11-15      30   60933
41  1042        Sunita Gupta  2023-03-09      40   72534
15  1016          Ajay Bhatt  2020-04-25      40   70109
3   1004         Sneha Gupta  2020-08-25      40   68902
9   1010         Simran Kaur  2023-01-11      40   68902
29  1030         Divya Singh  2021-04-22      40   67845
23  1024          Ritu Mehra  2023-05-20      40   67801
47  1048       Meenal Pandey  2021-07-03      40   66228
35  1036        Shweta Yadav  2021-06-03      40   63559
4   1005          Anil Reddy  2024-02-13      50   78005
16  1017         Pooja Malik  2022-02-28      50   77450
36  1037      Rajendra Joshi  2023-11-19      50   73561
30  1031        Akash Prasad  2020-06-05      50   72594
42  1043        Arvind Kumar   2021-0-22      50   70019
48  1049          Manju Nair  2022-11-17      50   69061
24  1025       Nitin Chauhan  2020-03-30      50   66948
10  1011        Rajesh Mehta  2021-09-01      50   62497
37  1038        Kavita Mehta  2020-07-25      60   71892
11  1012       Deepika Desai  2020-06-10      60   70179
43  1044      Neeraj Agarwal  2020-02-19      60   69312
25  1026        Swati Kapoor  2021-10-05      60   66972
31  1032          Geeta Rani  2022-09-07      60   63916
17  1018        Raghav Joshi  2021-06-14      60   62873
49  1050       Sandeep Yadav  2021-10-12      60   60921
5   1006          Neha Verma  2019-11-30      60   59843

In [41]:
# Sorting by index
df.sort_index(ascending=False)

     eno               ename         doj  deptno  salary
49  1050       Sandeep Yadav  2021-10-12      60   60921
48  1049          Manju Nair  2022-11-17      50   69061
47  1048       Meenal Pandey  2021-07-03      40   66228
46  1047         Sunil Verma  2020-09-14      30   66989
45  1046          Suman Iyer  2023-04-28      20   67751
44  1045        Pankaj Joshi  2022-06-10      10   70445
43  1044      Neeraj Agarwal  2020-02-19      60   69312
42  1043        Arvind Kumar   2021-0-22      50   70019
41  1042        Sunita Gupta  2023-03-09      40   72534
40  1041     Subodh Tripathi  2020-05-14      30   68215
39  1040     Pratibha Sharma  2021-09-05      20   65072
38  1039          Ajit Reddy  2022-04-18      10   69399
37  1038        Kavita Mehta  2020-07-25      60   71892
36  1037      Rajendra Joshi  2023-11-19      50   73561
35  1036        Shweta Yadav  2021-06-03      40   63559
34  1035       Jayesh Bansal  2020-02-15      30   69811
33  1034          Sonal Shah  2023-08-13      20    2000
32  1033         Suresh Jain  2021-12-01      10   69234
31  1032          Geeta Rani  2022-09-07      60   63916
30  1031        Akash Prasad  2020-06-05      50   72594
29  1030         Divya Singh  2021-04-22      40   67845
28  1029      Arvind Agarwal  2023-02-18      30   70986
27  1028       Kanika Thakur  2020-01-10      20   67752
26  1027       Harshit Kumar  2022-08-16      10   66535
25  1026        Swati Kapoor  2021-10-05      60   66972
24  1025       Nitin Chauhan  2020-03-30      50   66948
23  1024          Ritu Mehra  2023-05-20      40   67801
22  1023          Vikas Soni  2020-11-15      30   60933
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
20  1021      Prakash Pillai  2022-12-11      10   73569
19  1020         Krishna Rao  2023-10-02      20    2000
18  1019          Meera Nair  2020-09-17      10    1000
17  1018        Raghav Joshi  2021-06-14      60   62873
16  1017         Pooja Malik  2022-02-28      50   77450
15  1016          Ajay Bhatt  2020-04-25      40   70109
14  1015         Komal Yadav  2021-11-23      30   61894
13  1014         Harish Nair  2023-04-01      20   61487
12  1013      Shivani Sharma  2022-09-13      10   74363
11  1012       Deepika Desai  2020-06-10      60   70179
10  1011        Rajesh Mehta  2021-09-01      50   62497
9   1010         Simran Kaur  2023-01-11      40   68902
8   1009        Manish Joshi  2020-12-19      30   67560
7   1008         Ananya Iyer  2021-03-15      20   74625
6   1007         Vijay Singh  2022-07-08      10    1000
5   1006          Neha Verma  2019-11-30      60   59843
4   1005          Anil Reddy  2024-02-13      50   78005
3   1004         Sneha Gupta  2020-08-25      40   68902
2   1003          Ravi Kumar  2021-05-10      30   70421
1   1002         Priya Patel  2023-03-22      20   67387
0   1001        Arjun Sharma  2022-01-15      10    1000

In [44]:
# Sort the data based on multiple columns
# Q1. Sort the data in ascending order of depnto and descending order of salary
df_sorted = df.sort_values(by=['deptno','salary'],ascending=[True,False])

In [46]:
df_sorted

     eno               ename         doj  deptno  salary
12  1013      Shivani Sharma  2022-09-13      10   74363
20  1021      Prakash Pillai  2022-12-11      10   73569
44  1045        Pankaj Joshi  2022-06-10      10   70445
38  1039          Ajit Reddy  2022-04-18      10   69399
32  1033         Suresh Jain  2021-12-01      10   69234
26  1027       Harshit Kumar  2022-08-16      10   66535
0   1001        Arjun Sharma  2022-01-15      10    1000
6   1007         Vijay Singh  2022-07-08      10    1000
18  1019          Meera Nair  2020-09-17      10    1000
7   1008         Ananya Iyer  2021-03-15      20   74625
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
27  1028       Kanika Thakur  2020-01-10      20   67752
45  1046          Suman Iyer  2023-04-28      20   67751
1   1002         Priya Patel  2023-03-22      20   67387
39  1040     Pratibha Sharma  2021-09-05      20   65072
13  1014         Harish Nair  2023-04-01      20   61487
19  1020         Krishna Rao  2023-10-02      20    2000
33  1034          Sonal Shah  2023-08-13      20    2000
28  1029      Arvind Agarwal  2023-02-18      30   70986
2   1003          Ravi Kumar  2021-05-10      30   70421
34  1035       Jayesh Bansal  2020-02-15      30   69811
40  1041     Subodh Tripathi  2020-05-14      30   68215
8   1009        Manish Joshi  2020-12-19      30   67560
46  1047         Sunil Verma  2020-09-14      30   66989
14  1015         Komal Yadav  2021-11-23      30   61894
22  1023          Vikas Soni  2020-11-15      30   60933
41  1042        Sunita Gupta  2023-03-09      40   72534
15  1016          Ajay Bhatt  2020-04-25      40   70109
3   1004         Sneha Gupta  2020-08-25      40   68902
9   1010         Simran Kaur  2023-01-11      40   68902
29  1030         Divya Singh  2021-04-22      40   67845
23  1024          Ritu Mehra  2023-05-20      40   67801
47  1048       Meenal Pandey  2021-07-03      40   66228
35  1036        Shweta Yadav  2021-06-03      40   63559
4   1005          Anil Reddy  2024-02-13      50   78005
16  1017         Pooja Malik  2022-02-28      50   77450
36  1037      Rajendra Joshi  2023-11-19      50   73561
30  1031        Akash Prasad  2020-06-05      50   72594
42  1043        Arvind Kumar   2021-0-22      50   70019
48  1049          Manju Nair  2022-11-17      50   69061
24  1025       Nitin Chauhan  2020-03-30      50   66948
10  1011        Rajesh Mehta  2021-09-01      50   62497
37  1038        Kavita Mehta  2020-07-25      60   71892
11  1012       Deepika Desai  2020-06-10      60   70179
43  1044      Neeraj Agarwal  2020-02-19      60   69312
25  1026        Swati Kapoor  2021-10-05      60   66972
31  1032          Geeta Rani  2022-09-07      60   63916
17  1018        Raghav Joshi  2021-06-14      60   62873
49  1050       Sandeep Yadav  2021-10-12      60   60921
5   1006          Neha Verma  2019-11-30      60   59843

In [47]:
# Sort the data based on multiple columns and persist in the dataframe ( original dataframe)
# Q1. Sort the data in ascending order of depnto and descending order of salary and save in the dataframe
df.sort_values(by=['deptno','salary'],ascending=[True,False],inplace=True)

In [49]:
# Grouping ( similar to group by cluase in SQL )
df

     eno               ename         doj  deptno  salary
12  1013      Shivani Sharma  2022-09-13      10   74363
20  1021      Prakash Pillai  2022-12-11      10   73569
44  1045        Pankaj Joshi  2022-06-10      10   70445
38  1039          Ajit Reddy  2022-04-18      10   69399
32  1033         Suresh Jain  2021-12-01      10   69234
26  1027       Harshit Kumar  2022-08-16      10   66535
0   1001        Arjun Sharma  2022-01-15      10    1000
6   1007         Vijay Singh  2022-07-08      10    1000
18  1019          Meera Nair  2020-09-17      10    1000
7   1008         Ananya Iyer  2021-03-15      20   74625
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
27  1028       Kanika Thakur  2020-01-10      20   67752
45  1046          Suman Iyer  2023-04-28      20   67751
1   1002         Priya Patel  2023-03-22      20   67387
39  1040     Pratibha Sharma  2021-09-05      20   65072
13  1014         Harish Nair  2023-04-01      20   61487
19  1020         Krishna Rao  2023-10-02      20    2000
33  1034          Sonal Shah  2023-08-13      20    2000
28  1029      Arvind Agarwal  2023-02-18      30   70986
2   1003          Ravi Kumar  2021-05-10      30   70421
34  1035       Jayesh Bansal  2020-02-15      30   69811
40  1041     Subodh Tripathi  2020-05-14      30   68215
8   1009        Manish Joshi  2020-12-19      30   67560
46  1047         Sunil Verma  2020-09-14      30   66989
14  1015         Komal Yadav  2021-11-23      30   61894
22  1023          Vikas Soni  2020-11-15      30   60933
41  1042        Sunita Gupta  2023-03-09      40   72534
15  1016          Ajay Bhatt  2020-04-25      40   70109
3   1004         Sneha Gupta  2020-08-25      40   68902
9   1010         Simran Kaur  2023-01-11      40   68902
29  1030         Divya Singh  2021-04-22      40   67845
23  1024          Ritu Mehra  2023-05-20      40   67801
47  1048       Meenal Pandey  2021-07-03      40   66228
35  1036        Shweta Yadav  2021-06-03      40   63559
4   1005          Anil Reddy  2024-02-13      50   78005
16  1017         Pooja Malik  2022-02-28      50   77450
36  1037      Rajendra Joshi  2023-11-19      50   73561
30  1031        Akash Prasad  2020-06-05      50   72594
42  1043        Arvind Kumar   2021-0-22      50   70019
48  1049          Manju Nair  2022-11-17      50   69061
24  1025       Nitin Chauhan  2020-03-30      50   66948
10  1011        Rajesh Mehta  2021-09-01      50   62497
37  1038        Kavita Mehta  2020-07-25      60   71892
11  1012       Deepika Desai  2020-06-10      60   70179
43  1044      Neeraj Agarwal  2020-02-19      60   69312
25  1026        Swati Kapoor  2021-10-05      60   66972
31  1032          Geeta Rani  2022-09-07      60   63916
17  1018        Raghav Joshi  2021-06-14      60   62873
49  1050       Sandeep Yadav  2021-10-12      60   60921
5   1006          Neha Verma  2019-11-30      60   59843

In [50]:
df = pd.read_csv("emp_details.csv")

In [53]:
# Q1 . Get me total salary per department
# SQL  : select deptno,sum(salary) as total_salary from emp group by deptno
df_grouped = df.groupby('deptno')['salary'].sum()

In [55]:
type(df_grouped)

pandas.core.series.Series

In [58]:
df_grouped.reset_index()

   deptno  salary
0      10  426545
1      20  477820
2      30  536809
3      40  545880
4      50  570135
5      60  525908

In [60]:
# Q1 . Get me total salary per department
# way 1: 
df_grouped = df.groupby('deptno')['salary'].sum().reset_index()

In [64]:
df_grouped.rename(columns={'salary':'total_salary','deptno':'department_number'})

   department_number  total_salary
0                 10        426545
1                 20        477820
2                 30        536809
3                 40        545880
4                 50        570135
5                 60        525908

In [63]:
# Way 2:  In a single line 
df.groupby('deptno')['salary'].sum().reset_index().rename(columns={'salary':'total_salary'})

   deptno  total_salary
0      10        426545
1      20        477820
2      30        536809
3      40        545880
4      50        570135
5      60        525908